@import "../../styles/variables";

.location-background-section {
    position: relative;
    padding-left: 2rem;
}

.location-section {
    padding-bottom: 1rem;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5rem;
        width: 50%;

        .logo-container {
            width: 14rem;
        }

        .auth-action-container {
            display: inline-block;
        }
    }
}

.backgroud-section {
    position: absolute;
    top: 0;
    left: calc(50% + 5rem);
    right: 0;
    background-image: url("../../../public/assets/breakfast.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100%;
}

.search-location-section {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    width: 50%;

    h2 {
        font-size: $fs-900;
        font-weight: $fw-700;
    }

    p {
        font-size: $fs-500;
        font-weight: $fw-500;
    }

    .search-location-input-container {
        display: flex;
        margin-top: 4.5rem;
        border-radius: 0;

        .input-wrapper {
            width: 100%;
            border: $border-size solid $grey-4;

            input {
                line-height: 4.5rem;

                &:focus {
                    .input-wrapper {
                        border: $border-size solid $primary;
                    }
                }
            }
        }

        button > span {
            font-size: $fs-400;
            font-weight: $fw-700;
        }
    }

    .popular-city-header {
        margin-top: 3rem;
        font-weight: $fw-500;
        color: $grey-2;
        font-size: $fs-300;
    }

    ul {
        margin-top: 1rem;

        li {
            display: inline-block;
            font-size: $fs-300;
            margin-right: 0.6rem;
            font-weight: $fw-700;
        }

        li:nth-of-type(odd) > a {
            color: $grey-1;
        }

        li:nth-of-type(even) > a {
            color: $grey-3;
        }
    }
}
