@import "../../styles/variables";

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outlet-container {
    margin-top: 6rem;
    width: 100%;
    max-width: 1360px;
}
