@import "../../../styles/variables";

.item {
    min-width: 150px;
    margin-right: 1rem;
    margin-bottom: 1rem;

    img {
        object-fit: contain;
    }

    &:last-child {
        margin-right: 0;
    }
}
