@import "./variables";

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-block {
    display: block !important;
}

// ::-webkit-scrollbar {
//     height: $scroll-height;
//     width: 100%;
// }

// ::-webkit-scrollbar-track {
//     height: $scroll-height;
//     border-radius: $scroll-height;
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     height: $scroll-height;
//     border-radius: $scroll-height;
//     background: $grey-4;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: $grey-3;
// }

@media screen and (min-width: 376px) {
    html {
        font-size: 40%;

        .desktop-only {
            display: none;
        }

        .mobile-only {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 576px) {
    html {
        font-size: 40%;

        .desktop-only {
            display: none;
        }

        .mobile-only {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 67.5%;

        .desktop-only {
            display: block;
        }

        .mobile-only {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 67.5%;

        .desktop-only {
            display: block;
        }

        .mobile-only {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 87.5%;

        .desktop-only {
            display: block;
        }

        .mobile-only {
            display: none;
        }
    }
}
